Repository dwavesystems/ocean-dev-docker: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build, push-readme

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3

workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          mapping: |
            dockerfiles/.* run-build true
            README.md push-readme true
          base-revision: master
          config-path: .circleci/build.yml

Copy build system developed for `ocean-docker` (#1)
  .circleci/build.yml
  .circleci/config.yml
  Dockerfile-linux-slim.template
  Dockerfile-linux.template
  Dockerfile-windows.template
  Makefile
  README.md.template
  build.json
  generate.py
  requirements.txt
Due: none

Define build configuration for ocean-dev images
  .circleci/build.yml
  .circleci/config.yml
  Dockerfile-linux-slim.template
  Dockerfile-linux.template
  Dockerfile-windows.template
  README.md.template
  build.json
  generate.py
  requirements.txt
Due: none

Generate dockerfiles, tags and readme for latest Ocean
  README.md
  dockerfiles/6/python3.10/bullseye/Dockerfile
  dockerfiles/6/python3.10/bullseye/tags.json
  dockerfiles/6/python3.10/windowsservercore/Dockerfile
  dockerfiles/6/python3.10/windowsservercore/tags.json
  dockerfiles/6/python3.11/bullseye/Dockerfile
  dockerfiles/6/python3.11/bullseye/tags.json
  dockerfiles/6/python3.11/windowsservercore/Dockerfile
  dockerfiles/6/python3.11/windowsservercore/tags.json
  dockerfiles/6/python3.9/bullseye/Dockerfile
  dockerfiles/6/python3.9/bullseye/tags.json
  dockerfiles/6/python3.9/windowsservercore/Dockerfile
  dockerfiles/6/python3.9/windowsservercore/tags.json
  dockerfiles/6/shared-tags.json
Due: run-build, push-readme

Update dockerfile templates: install extended ocean, extra tools
  Dockerfile-linux.template
  Dockerfile-windows.template
Due: none

Generate dockerfiles, tags and readme for latest templates
  Dockerfile-linux.template
  Dockerfile-windows.template
  README.md
  README.md.template
  dockerfiles/6/python3.10/bullseye/Dockerfile
  dockerfiles/6/python3.10/windowsservercore/Dockerfile
  dockerfiles/6/python3.11/bullseye/Dockerfile
  dockerfiles/6/python3.11/windowsservercore/Dockerfile
  dockerfiles/6/python3.9/bullseye/Dockerfile
  dockerfiles/6/python3.9/windowsservercore/Dockerfile
Due: run-build, push-readme

Install latest dev version of dwave-inspector to verify codespaces fix
  Dockerfile-linux.template
Due: none

Generate dockerfiles for inspector patch test
  dockerfiles/6/python3.10/bullseye/Dockerfile
  dockerfiles/6/python3.11/bullseye/Dockerfile
  dockerfiles/6/python3.9/bullseye/Dockerfile
Due: run-build

Install jupyter in both linux and windows images
  Dockerfile-linux.template
  Dockerfile-windows.template
Due: none

Generate dockerfiles with jupyter support
  dockerfiles/6/python3.10/bullseye/Dockerfile
  dockerfiles/6/python3.10/windowsservercore/Dockerfile
  dockerfiles/6/python3.11/bullseye/Dockerfile
  dockerfiles/6/python3.11/windowsservercore/Dockerfile
  dockerfiles/6/python3.9/bullseye/Dockerfile
  dockerfiles/6/python3.9/windowsservercore/Dockerfile
Due: run-build

Generate dockerfiles, tags and readme for Ocean 6.6
  Dockerfile-linux.template
  README.md
  dockerfiles/6/python3.10/bullseye/Dockerfile
  dockerfiles/6/python3.10/bullseye/tags.json
  dockerfiles/6/python3.10/windowsservercore/Dockerfile
  dockerfiles/6/python3.10/windowsservercore/tags.json
  dockerfiles/6/python3.11/bullseye/Dockerfile
  dockerfiles/6/python3.11/bullseye/tags.json
  dockerfiles/6/python3.11/windowsservercore/Dockerfile
  dockerfiles/6/python3.11/windowsservercore/tags.json
  dockerfiles/6/python3.9/bullseye/Dockerfile
  dockerfiles/6/python3.9/bullseye/tags.json
  dockerfiles/6/python3.9/windowsservercore/Dockerfile
  dockerfiles/6/python3.9/windowsservercore/tags.json
  dockerfiles/6/shared-tags.json
Due: run-build, push-readme

Print an auth help tip on terminal open
  Dockerfile-linux.template
  data/auth-tip.sh
Due: none

Generate Linux dockerfiles with auth tip printed on start
  dockerfiles/6/python3.10/bullseye/Dockerfile
  dockerfiles/6/python3.11/bullseye/Dockerfile
  dockerfiles/6/python3.9/bullseye/Dockerfile
Due: run-build

Manually add auth-tip.sh
  Dockerfile-linux.template
  dockerfiles/6/python3.10/bullseye/Dockerfile
  dockerfiles/6/python3.10/bullseye/auth-tip.sh
  dockerfiles/6/python3.11/bullseye/Dockerfile
  dockerfiles/6/python3.11/bullseye/auth-tip.sh
  dockerfiles/6/python3.9/bullseye/Dockerfile
  dockerfiles/6/python3.9/bullseye/auth-tip.sh
Due: run-build

Change docker build's context to include root `/data` (shared)
  .circleci/build.yml
Due: none

Update dockerfiles to use root context
  Dockerfile-linux.template
  dockerfiles/6/python3.10/bullseye/Dockerfile
  dockerfiles/6/python3.10/bullseye/auth-tip.sh
  dockerfiles/6/python3.11/bullseye/Dockerfile
  dockerfiles/6/python3.11/bullseye/auth-tip.sh
  dockerfiles/6/python3.9/bullseye/Dockerfile
  dockerfiles/6/python3.9/bullseye/auth-tip.sh
Due: run-build

Fix typo in Makefile
  Makefile
Due: none

Generate Ocean 6.7.0 dockerfiles, tags and readme
  README.md
  dockerfiles/6/python3.10/bullseye/Dockerfile
  dockerfiles/6/python3.10/bullseye/tags.json
  dockerfiles/6/python3.10/windowsservercore/Dockerfile
  dockerfiles/6/python3.10/windowsservercore/tags.json
  dockerfiles/6/python3.11/bullseye/Dockerfile
  dockerfiles/6/python3.11/bullseye/tags.json
  dockerfiles/6/python3.11/windowsservercore/Dockerfile
  dockerfiles/6/python3.11/windowsservercore/tags.json
  dockerfiles/6/python3.9/bullseye/Dockerfile
  dockerfiles/6/python3.9/bullseye/tags.json
  dockerfiles/6/python3.9/windowsservercore/Dockerfile
  dockerfiles/6/python3.9/windowsservercore/tags.json
  dockerfiles/6/shared-tags.json
Due: run-build, push-readme

Generate Ocean 6.7.1 dockerfiles, tags and readme
  README.md
  dockerfiles/6/python3.10/bullseye/Dockerfile
  dockerfiles/6/python3.10/bullseye/tags.json
  dockerfiles/6/python3.10/windowsservercore/tags.json
  dockerfiles/6/python3.11/bullseye/tags.json
  dockerfiles/6/python3.11/windowsservercore/Dockerfile
  dockerfiles/6/python3.11/windowsservercore/tags.json
  dockerfiles/6/python3.12/bullseye/Dockerfile
  dockerfiles/6/python3.12/bullseye/tags.json
  dockerfiles/6/python3.12/windowsservercore/Dockerfile
  dockerfiles/6/python3.12/windowsservercore/tags.json
  dockerfiles/6/python3.9/bullseye/Dockerfile
  dockerfiles/6/python3.9/bullseye/tags.json
  dockerfiles/6/python3.9/windowsservercore/Dockerfile
  dockerfiles/6/python3.9/windowsservercore/tags.json
  dockerfiles/6/shared-tags.json
Due: run-build, push-readme

Add Python 3.12 images
  .circleci/build.yml
  README.md.template
  build.json
Due: none

Generate Ocean 6.8.0 dockerfiles, tags and readme
  README.md
  dockerfiles/6/python3.10/bullseye/Dockerfile
  dockerfiles/6/python3.10/bullseye/tags.json
  dockerfiles/6/python3.10/windowsservercore/Dockerfile
  dockerfiles/6/python3.10/windowsservercore/tags.json
  dockerfiles/6/python3.11/bullseye/Dockerfile
  dockerfiles/6/python3.11/bullseye/tags.json
  dockerfiles/6/python3.11/windowsservercore/Dockerfile
  dockerfiles/6/python3.11/windowsservercore/tags.json
  dockerfiles/6/python3.12/bullseye/Dockerfile
  dockerfiles/6/python3.12/bullseye/tags.json
  dockerfiles/6/python3.12/windowsservercore/Dockerfile
  dockerfiles/6/python3.12/windowsservercore/tags.json
  dockerfiles/6/python3.9/bullseye/Dockerfile
  dockerfiles/6/python3.9/bullseye/tags.json
  dockerfiles/6/python3.9/windowsservercore/Dockerfile
  dockerfiles/6/python3.9/windowsservercore/tags.json
  dockerfiles/6/shared-tags.json
Due: run-build, push-readme

Generate Ocean 6.9.0 dockerfiles, tags and readme
  README.md
  dockerfiles/6/python3.10/bullseye/Dockerfile
  dockerfiles/6/python3.10/bullseye/tags.json
  dockerfiles/6/python3.10/windowsservercore/Dockerfile
  dockerfiles/6/python3.10/windowsservercore/tags.json
  dockerfiles/6/python3.11/bullseye/Dockerfile
  dockerfiles/6/python3.11/bullseye/tags.json
  dockerfiles/6/python3.11/windowsservercore/Dockerfile
  dockerfiles/6/python3.11/windowsservercore/tags.json
  dockerfiles/6/python3.12/bullseye/Dockerfile
  dockerfiles/6/python3.12/bullseye/tags.json
  dockerfiles/6/python3.12/windowsservercore/Dockerfile
  dockerfiles/6/python3.12/windowsservercore/tags.json
  dockerfiles/6/python3.9/bullseye/Dockerfile
  dockerfiles/6/python3.9/bullseye/tags.json
  dockerfiles/6/python3.9/windowsservercore/Dockerfile
  dockerfiles/6/python3.9/windowsservercore/tags.json
  dockerfiles/6/shared-tags.json
Due: run-build, push-readme

Define vscode's `python.defaultInterpreterPath` in metadata
  Dockerfile-linux.template
  dockerfiles/6/python3.10/bullseye/Dockerfile
  dockerfiles/6/python3.11/bullseye/Dockerfile
  dockerfiles/6/python3.12/bullseye/Dockerfile
  dockerfiles/6/python3.9/bullseye/Dockerfile
Due: run-build

Generate Ocean 6.10.0 dockerfiles, tags and readme
  README.md
  dockerfiles/6/python3.10/bullseye/Dockerfile
  dockerfiles/6/python3.10/bullseye/tags.json
  dockerfiles/6/python3.10/windowsservercore/Dockerfile
  dockerfiles/6/python3.10/windowsservercore/tags.json
  dockerfiles/6/python3.11/bullseye/Dockerfile
  dockerfiles/6/python3.11/bullseye/tags.json
  dockerfiles/6/python3.11/windowsservercore/Dockerfile
  dockerfiles/6/python3.11/windowsservercore/tags.json
  dockerfiles/6/python3.12/bullseye/Dockerfile
  dockerfiles/6/python3.12/bullseye/tags.json
  dockerfiles/6/python3.12/windowsservercore/Dockerfile
  dockerfiles/6/python3.12/windowsservercore/tags.json
  dockerfiles/6/python3.9/bullseye/Dockerfile
  dockerfiles/6/python3.9/bullseye/tags.json
  dockerfiles/6/python3.9/windowsservercore/Dockerfile
  dockerfiles/6/python3.9/windowsservercore/tags.json
  dockerfiles/6/shared-tags.json
Due: run-build, push-readme

Simplify latest ocean version fetch
  generate.py
Due: none

Add `make pr` rule to simplify PR creation
  Makefile
Due: none

Generate Ocean 7.0.0 dockerfiles, tags and readme
  .circleci/build.yml
  README.md
  dockerfiles/7/python3.10/bullseye/Dockerfile
  dockerfiles/7/python3.10/bullseye/tags.json
  dockerfiles/7/python3.10/windowsservercore/Dockerfile
  dockerfiles/7/python3.10/windowsservercore/tags.json
  dockerfiles/7/python3.11/bullseye/Dockerfile
  dockerfiles/7/python3.11/bullseye/tags.json
  dockerfiles/7/python3.11/windowsservercore/Dockerfile
  dockerfiles/7/python3.11/windowsservercore/tags.json
  dockerfiles/7/python3.12/bullseye/Dockerfile
  dockerfiles/7/python3.12/bullseye/tags.json
  dockerfiles/7/python3.12/windowsservercore/Dockerfile
  dockerfiles/7/python3.12/windowsservercore/tags.json
  dockerfiles/7/python3.9/bullseye/Dockerfile
  dockerfiles/7/python3.9/bullseye/tags.json
  dockerfiles/7/python3.9/windowsservercore/Dockerfile
  dockerfiles/7/python3.9/windowsservercore/tags.json
  dockerfiles/7/shared-tags.json
Due: run-build, push-readme

Exclude Python 3.9 due to a known CLI bug in Ocean
  .circleci/build.yml
  README.md
  build.json
  dockerfiles/7/python3.9/bullseye/Dockerfile
  dockerfiles/7/python3.9/bullseye/tags.json
  dockerfiles/7/python3.9/windowsservercore/Dockerfile
  dockerfiles/7/python3.9/windowsservercore/tags.json
  dockerfiles/7/shared-tags.json
Due: run-build, push-readme

Add Python 3.9 back (revert 8f043cafda)
  .circleci/build.yml
  build.json
Due: none

Update auth-tip to print a simplified setup command
  data/auth-tip.sh
Due: none

Generate Ocean 7.1.0 dockerfiles, tags and readme
  README.md
  dockerfiles/7/python3.10/bullseye/Dockerfile
  dockerfiles/7/python3.10/bullseye/tags.json
  dockerfiles/7/python3.10/windowsservercore/Dockerfile
  dockerfiles/7/python3.10/windowsservercore/tags.json
  dockerfiles/7/python3.11/bullseye/Dockerfile
  dockerfiles/7/python3.11/bullseye/tags.json
  dockerfiles/7/python3.11/windowsservercore/tags.json
  dockerfiles/7/python3.12/bullseye/tags.json
  dockerfiles/7/python3.12/windowsservercore/Dockerfile
  dockerfiles/7/python3.12/windowsservercore/tags.json
  dockerfiles/7/python3.9/bullseye/Dockerfile
  dockerfiles/7/python3.9/bullseye/tags.json
  dockerfiles/7/python3.9/windowsservercore/Dockerfile
  dockerfiles/7/python3.9/windowsservercore/tags.json
  dockerfiles/7/shared-tags.json
Due: run-build, push-readme

Generate Ocean 8.0.0 dockerfiles, tags and readme
  .circleci/build.yml
  README.md
  dockerfiles/8/python3.10/bullseye/Dockerfile
  dockerfiles/8/python3.10/bullseye/tags.json
  dockerfiles/8/python3.10/windowsservercore/Dockerfile
  dockerfiles/8/python3.10/windowsservercore/tags.json
  dockerfiles/8/python3.11/bullseye/Dockerfile
  dockerfiles/8/python3.11/bullseye/tags.json
  dockerfiles/8/python3.11/windowsservercore/Dockerfile
  dockerfiles/8/python3.11/windowsservercore/tags.json
  dockerfiles/8/python3.12/bullseye/Dockerfile
  dockerfiles/8/python3.12/bullseye/tags.json
  dockerfiles/8/python3.12/windowsservercore/Dockerfile
  dockerfiles/8/python3.12/windowsservercore/tags.json
  dockerfiles/8/python3.9/bullseye/Dockerfile
  dockerfiles/8/python3.9/bullseye/tags.json
  dockerfiles/8/python3.9/windowsservercore/Dockerfile
  dockerfiles/8/python3.9/windowsservercore/tags.json
  dockerfiles/8/shared-tags.json
Due: run-build, push-readme

Upgrade Debian to latest stable (bullseye -> bookworm)
  .circleci/build.yml
  README.md.template
  build.json
Due: none

Upgrade Ocean 8 dockerfiles to bookworm
  README.md
  dockerfiles/8/python3.10/bookworm/Dockerfile
  dockerfiles/8/python3.10/bookworm/tags.json
  dockerfiles/8/python3.10/bullseye/tags.json
  dockerfiles/8/python3.11/bookworm/Dockerfile
  dockerfiles/8/python3.11/bookworm/tags.json
  dockerfiles/8/python3.11/bullseye/tags.json
  dockerfiles/8/python3.12/bookworm/Dockerfile
  dockerfiles/8/python3.12/bookworm/tags.json
  dockerfiles/8/python3.12/bullseye/tags.json
  dockerfiles/8/python3.9/bookworm/Dockerfile
  dockerfiles/8/python3.9/bookworm/tags.json
  dockerfiles/8/python3.9/bullseye/tags.json
  dockerfiles/8/shared-tags.json
Due: run-build, push-readme

Fix CircleCI build: stop using deprecated arm64 machine image
  .circleci/build.yml
Due: none

Generate Ocean 8.0.1 dockerfiles, tags and readme
  README.md
  dockerfiles/8/python3.10/bookworm/Dockerfile
  dockerfiles/8/python3.10/bookworm/tags.json
  dockerfiles/8/python3.10/windowsservercore/Dockerfile
  dockerfiles/8/python3.10/windowsservercore/tags.json
  dockerfiles/8/python3.11/bookworm/Dockerfile
  dockerfiles/8/python3.11/bookworm/tags.json
  dockerfiles/8/python3.11/windowsservercore/Dockerfile
  dockerfiles/8/python3.11/windowsservercore/tags.json
  dockerfiles/8/python3.12/bookworm/Dockerfile
  dockerfiles/8/python3.12/bookworm/tags.json
  dockerfiles/8/python3.12/windowsservercore/Dockerfile
  dockerfiles/8/python3.12/windowsservercore/tags.json
  dockerfiles/8/python3.9/bookworm/Dockerfile
  dockerfiles/8/python3.9/bookworm/tags.json
  dockerfiles/8/python3.9/windowsservercore/Dockerfile
  dockerfiles/8/python3.9/windowsservercore/tags.json
  dockerfiles/8/shared-tags.json
Due: run-build, push-readme

Generate Ocean 8.1.0 dockerfiles, tags and readme
  README.md
  dockerfiles/8/python3.10/bookworm/Dockerfile
  dockerfiles/8/python3.10/bookworm/tags.json
  dockerfiles/8/python3.10/windowsservercore/Dockerfile
  dockerfiles/8/python3.10/windowsservercore/tags.json
  dockerfiles/8/python3.11/bookworm/Dockerfile
  dockerfiles/8/python3.11/bookworm/tags.json
  dockerfiles/8/python3.11/windowsservercore/Dockerfile
  dockerfiles/8/python3.11/windowsservercore/tags.json
  dockerfiles/8/python3.12/bookworm/Dockerfile
  dockerfiles/8/python3.12/bookworm/tags.json
  dockerfiles/8/python3.12/windowsservercore/Dockerfile
  dockerfiles/8/python3.12/windowsservercore/tags.json
  dockerfiles/8/python3.9/bookworm/Dockerfile
  dockerfiles/8/python3.9/bookworm/tags.json
  dockerfiles/8/python3.9/windowsservercore/Dockerfile
  dockerfiles/8/python3.9/windowsservercore/tags.json
  dockerfiles/8/shared-tags.json
Due: run-build, push-readme

Add Python 3.13 images; default to 3.12 image
  .circleci/build.yml
  Dockerfile-linux.template
  Dockerfile-windows.template
  README.md.template
  build.json
Due: none

Re-generate dockerfiles/readme with py313 added
  README.md
  dockerfiles/8/python3.10/bookworm/Dockerfile
  dockerfiles/8/python3.10/windowsservercore/Dockerfile
  dockerfiles/8/python3.11/bookworm/Dockerfile
  dockerfiles/8/python3.11/bookworm/tags.json
  dockerfiles/8/python3.11/windowsservercore/tags.json
  dockerfiles/8/python3.12/bookworm/tags.json
  dockerfiles/8/python3.12/windowsservercore/Dockerfile
  dockerfiles/8/python3.12/windowsservercore/tags.json
  dockerfiles/8/python3.13/bookworm/Dockerfile
  dockerfiles/8/python3.13/bookworm/tags.json
  dockerfiles/8/python3.13/windowsservercore/Dockerfile
  dockerfiles/8/python3.13/windowsservercore/tags.json
  dockerfiles/8/python3.9/bookworm/Dockerfile
  dockerfiles/8/python3.9/windowsservercore/Dockerfile
  dockerfiles/8/shared-tags.json
Due: run-build, push-readme

Generate Ocean 8.2.0 dockerfiles, tags and readme
  README.md
  dockerfiles/8/python3.10/bookworm/Dockerfile
  dockerfiles/8/python3.10/bookworm/tags.json
  dockerfiles/8/python3.10/windowsservercore/Dockerfile
  dockerfiles/8/python3.10/windowsservercore/tags.json
  dockerfiles/8/python3.11/bookworm/Dockerfile
  dockerfiles/8/python3.11/bookworm/tags.json
  dockerfiles/8/python3.11/windowsservercore/Dockerfile
  dockerfiles/8/python3.11/windowsservercore/tags.json
  dockerfiles/8/python3.12/bookworm/Dockerfile
  dockerfiles/8/python3.12/bookworm/tags.json
  dockerfiles/8/python3.12/windowsservercore/Dockerfile
  dockerfiles/8/python3.12/windowsservercore/tags.json
  dockerfiles/8/python3.13/bookworm/Dockerfile
  dockerfiles/8/python3.13/bookworm/tags.json
  dockerfiles/8/python3.13/windowsservercore/Dockerfile
  dockerfiles/8/python3.13/windowsservercore/tags.json
  dockerfiles/8/python3.9/bookworm/Dockerfile
  dockerfiles/8/python3.9/bookworm/tags.json
  dockerfiles/8/python3.9/windowsservercore/Dockerfile
  dockerfiles/8/python3.9/windowsservercore/tags.json
  dockerfiles/8/shared-tags.json
Due: run-build, push-readme

Update readme template with new Ocean docs links
  README.md.template
Due: none
